body {
  margin : 0;
  color: white;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
ul {
  padding: 0;
}
ul li button {
  margin-bottom : 10px;
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header-box {
  width: 100%;
  height: 180px;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.1s  linear;
}
#center {
  width: 100%;
  top: 50%;
  text-align: center;
  font-size: 2em;
}
li {
  list-style : none;
}
#language-change {
    float: right;
}
 span {
  font-size: 60%;
  text-align: center;
}
h1 {
  font-size: 230%;
  font-family: sans-serif;
  height: 70px; 
}
.js-weather {
  float: left;
  font-size: 90%;
}
h4 {
  height: 10px;
}